certifi
charset-normalizer
coloredlogs
contourpy
cycler
ffmpeg
filelock
filterpy
flatbuffers
fonttools
humanfriendly
idna
imageio
importlib-resources
jinja2
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mpmath
networkx
numpy
onnx
onnxruntime
opencv-python
packaging
pandas
Pillow
protobuf
psutil
py-cpuinfo
pycocotools
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
scikit-image
scipy
seaborn
six
sympy
tifffile
tqdm
typing_extensions
tzdata
ultralytics
urllib3
zipp
